@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 900;
    src: url('../fonts/inter-v13-cyrillic_latin-900.woff2') format('woff2');
}