.footer {
    padding: 40px 0;
    background: #FF6A00 url('../image/bg.jpg') center/cover;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    justify-content: space-between;
    gap: 16px 30px
}

.footer__link:hover {
    color: #ccc;
}

.footer__link_logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.footer__link_logo {
    max-width: 360px;
    width: 100%;
}

.footer__link_developers {
    grid-column: 2 / 3;
}

.footer__developers-item {
    margin-bottom: 8px;
}

.footer__developers-item:last-child {
    margin-bottom: 0;
}

.footer__copyright {
    grid-column: 2 / 3;
}

@media (max-width: 1024px) {
    .footer {
        padding: 41px 0;
        font-size: 16px;
    }

    .footer__container {}

    .footer__link_logo {
        min-width: 305px;
    }

    .footer {
        padding: 27px 0;
        font-size: 14px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 540px) {
    .footer {
        padding: 24px 0 32px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer__link_logo {
        max-width: 180px;
        margin-bottom: 24px;
    }

    .footer__link_developers {
        margin-bottom: 16px;
    }
}