.hero {
    padding: 60px 0 80px;
    background: #FF6A00 url('../image/bg.jpg') center/cover;
    color: #fff;
    margin-bottom: 32px;
}

.hero__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__link {
    position: absolute;
    top: -36px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.hero__icon {
    width: 20px;
    height: 20px;
}

.hero__logo {
    width: 240px;
    margin-bottom: 80px;
}

.hero__title {
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    text-align: center;
}

.hero__tagline {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}

@media (max-width: 1024px) {
    .hero {
        padding: 40px 0 58px;
    }

    .hero__logo {
        width: 200px;
        margin-bottom: 45px;
    }

    .hero__title {
        font-size: 50px;margin-bottom: 32px;
    }

    .hero__link {
        top: -16px;
    }
}

@media (max-width: 768px) {
    .hero { 
        padding-bottom: 42px;
    }

    .hero__link-text {
        position: fixed;
        transform: scale(0);
    }

    .hero__title {
        font-size: 40px;
    }
}

@media (max-width: 540px) {
    .hero {
        padding: 16px 0 32px;
        margin-bottom: 20px;
    }

    .hero__container {
        display: grid;
        justify-content: space-between;
        align-items: center;
    }

    .hero__logo {
        width: 145px;
        grid-row: 1/2;
        grid-column: 1/2;
        margin-bottom: 0;
    }

    .hero__link {
        position: static;
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: end;
    }

    .hero__title {
        grid-column: 1/3;
        font-size: 24px;
        margin-bottom: 0;
        padding: 25px 0 20px;
    }

    .hero__tagline {
        grid-column: 1/3;
        font-size: 16px;
    }
}