.search__form {
    position: relative;
    width: 100%;

}

.search__input {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #FB9953;
    padding: 10px 124px 10px 24px;
    outline: none;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.search__input::placeholder {
    color: #292D32;
    letter-spacing: 0.02em;
}

.search__btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: #FB9953;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.search__icon {
    width: 20px;
    height: 20px;
}
