@import "normalize.css";
@import "fonts.css";

@import "header.css";
@import "hero.css";
@import "search.css";
@import "video-list.css";
@import "video.css";
@import "footer.css";

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    font-size: 20px;
    color: #292D32;
    background-color: #fff;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Main block will be stretched to the whole height event it is empty. Thus, footer will always be at the bottom! */
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}


button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    --container-width: 1260px;
    --container-offset: 30px;
    max-width: calc(var(--container-width) + var(--container-offset * 2)); /*1260px + 30px*2 */
    padding: 0 var(--container-offset);
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .container {
        --container-width: 942px;
    }
}

@media (max-width: 768px) {
    .container {
        --container-width: 624px;
    }
}

@media (max-width: 540px) {
    .container {
        --container-offset: 11px;
    }
}