.video {
    padding-top: 80px;
}

.video__player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 32px;
}

.video__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.video__container {
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.video__content {
    max-width: 1048px;
}

.video__content {
}

.video__title {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}

.video__channel {
    font-size: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}

.video__info {
    font-size: 24px;
    letter-spacing: 0.02em;
}

.video__description {
    font-size: 24px;
    letter-spacing: 0.02em;
}

.video__link {
    width: max-content;
    white-space: nowrap;
    display: flex;
    gap: 4px;
    align-items: center;
    flex-shrink: 0; /* can't reduce size */
    align-self: start;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.video__link .video__no-favorite {
    display: block;
}
.video__link .video__favorite {
    display: none;
}

.video__link.active .video__no-favorite {
    display: none;
}
.video__link.active .video__favorite {
    display: block;
}

.video__icon {
    width: 20px;
    height: 20px;
}

@media (max-width: 1024px) { 
    .video {
        padding-top: 60px;
    }
    .video__content {
        max-width: 730px;
    }

    .video__title {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .video__channel {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .video__info {
        font-size: 20px;
    }

    .video__description { 
        font-size: 20px;
    }

    .video__title {
        font-size: 24px;
    }

    .video__channel {
        font-size: 20px;
    }

    .video__description {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .video {
        padding-top: 40px;
    }

    .video__container {
        flex-direction: column-reverse;
        gap: 24px;
    }

    .video__player {
        margin-bottom: 24px;
    }
}

@media (max-width: 540px) {
    .video__player {
        margin-bottom: 20px;
    }
    
    .video__title {
        font-size: 26px;
    }

    .video__channel {
        font-size: 16px;
    }
}