.video-list {
    padding: 80px;
}

.video-list__title {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.video-list__items {
    --grid-count: 3;
    --grid-column-gap: 12px;
    display: grid;
    grid-template-columns: repeat(var(--grid-count), 
        calc(100% / var(--grid-count) - var(--grid-column-gap) * (var(--grid-count) - 1) / var(--grid-count)));
    gap: 40px var(--grid-column-gap);
}

.video-card {
    position: relative;
}

.video-card__thumbnail {
    border-radius: 16px;
    margin-bottom: 12px;
    width: 100%;
}

.video-card__title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.video-card__channel {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.video-card__duration {
    font-size: 16px;
    letter-spacing: 0.02em;
}

.video-card__favorite {
    position: absolute;
    top: 12px;
    right: 12px;
}

.video-card__icon {
    width: 20px;
    height: 20px;
}

.video-card__favorite .star {
    display: none;
}

.video-card__favorite.active .star {
    display: block;
}

@media (max-width: 1024px) {
    .video-list {
        padding: 60px 0;
    }

    .video-list__items {
        row-gap: 32px;
    }

    .video-list__title {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .video-list__items {
        --grid-count: 2;
    }
}

@media (max-width: 540px) {
    .video-list {
        padding: 40px 0 60px;
        margin-bottom: 20px;
    }

    .video-list__items {
        --grid-count: 1;
        gap: 20px;
    }

    .video-card__title {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .video-card__channel {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .video-card__duration {
        font-size: 14px;
    }
}